.update-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    background-color: #7161EF;
    border-top: 1px solid #2B2749;
}

.update-label {
    font-size: 1.2em;
}

.input-number {
    margin-left: 2px;
    padding: 4px;
    text-align: center;
    font-size: 1.2em;
    color: #2B2749;
    background: #FBF1F2;
    border: 1.5px solid #2B2749;
    border-radius: 10px;
}

.update-btn {
    margin-left: 5px;
    padding: 6px 10px;
    color: #2B2749;
    font-size: 1.2em;
    border: 1.5px solid #2B2749;
    border-radius: 20px;
    cursor: pointer;
    background: #ac9af0;
    transition: all .15s ease-out;
}

.update-btn:hover {
    background: #fbbcee;
}

.update-btn:disabled {
    cursor: not-allowed;
    background: none;
    color: #3c3578;
    border: 1.5px solid #3c3578;
}

.delete-btn {
    margin-left: 60px;
    padding: 4px 9px;
    border-radius: 20px;
    border: 1.5px solid #2B2749;
    background: #d74ca0;
    transition: all .15s ease-out;
}

.delete-btn:hover {
    background: #eb1321;
    cursor: pointer;
}

.error {
    color: red;
}

.error,
.update {
    padding: 0;
    margin: 0;
}