.update-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  background-color: #7161ef;
  border-top: 1px solid #2b2749;
}

.update-label {
  font-size: 1.1em;
}

.input-number {
  margin-left: 2px;
  padding: 4px;
  text-align: center;
  font-size: 1.2em;
  color: #2b2749;
  background: #fbf1f2;
  border: 1.5px solid #2b2749;
  border-radius: 3px;
}

.update-btn {
  margin-left: 5px;
  padding: 6px 10px;
  color: #2b2749;
  font-size: 1.2em;
  border: 1.5px solid #2b2749;
  border-radius: 3px;
  cursor: pointer;
  background: #ac9af0;
  transition: all 0.15s ease-out;
}

.update-btn:hover {
  background: #fbbcee;
}

.update-btn:disabled {
  cursor: not-allowed;
  background: none;
  color: #3c3578;
  border: 1.5px solid #3c3578;
}

.delete-btn {
  margin-left: 60px;
  padding: 6px 10px;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1.5px solid #2b2749;
  background: #d74ca0;
  transition: all 0.15s ease-out;
}

.delete-btn:hover {
  background: #940b14;
  color: #FBF1F2;
  cursor: pointer;
}

.error {
  color: red;
}

.error,
.update {
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  .update-card-wrapper {
    flex-direction: column;
  }

  .update-label {
    font-size: 1em;
  }

  .input-number {
    font-size: 1em;
    margin-bottom: 14px;
  }

  .update-btn {
    font-size: 1em;
  }

  .delete-btn {
    font-size: 1em;
    margin-left: 55px;
    align-self: flex-start;
  }
}