header {
    background-color: #7161EF;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 3em;
    margin: 0;
    padding: 20px 0 20px 20px;
    color: #FBF1F2;
    filter: drop-shadow(1px 1px 1px black);
}