header {
  position: sticky;
  top: 0;
  background-color: #7161ef;
  z-index: 1;
  width: 100vw;
}

h1 {
  font-family: "Comfortaa", sans-serif;
  font-size: 3em;
  margin: 0;
  padding: 13px 0 10px 20px;
  color: #fbf1f2;
  filter: drop-shadow(4px 1px 0 #2B2749);
}
